MYSQL_DATABASE=houkago
MYSQL_USER=houkago
MYSQL_PASSWORD=<change-me>
MYSQL_ROOT_PASSWORD=<change-me>
SPRING_PROFILES_ACTIVE=docker
HOUKAGO_RESYNC_ENABLED=true
HOUKAGO_RESYNC_POSTS_ROOT=/workspace/houkago.posts
HOUKAGO_RESYNC_COMMIT_HASH=<posts-commit-hash>
APP_HOST_PORT=8080
